/* .card-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
} */

.card {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63);
    border-radius: 25px;
}
.card-img {
    object-fit: cover;
    height: 377px;
    width: 300px;
    border-radius: 20px;
}
.card-title {
    font-size: 30px;
    font-weight: 500;
    font-family: adobe-handwriting-ernie;
}
.card-button {
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(242, 250, 96);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin-top: 10px;
}
.card-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;
}
.Cit-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 2rem;
}
.cities-nofound{
    height: 100vh;
}
@media (max-width:2560){
    .Cities-container{
        height: 127vh;
        width: 100%;
        justify-content: center;
    }
    .Cit-Container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1440px){
    .Cities-container{
        height: 313vh;
        width: 100%;
        }
    .Cit-Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1024px) {

    .Cities-container{
        height: 433vh;
        width: 100%;
    }
    .Cit-Container { 
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .Cities-form{
        background-color: rgba(0, 0, 0, 0.644);
        display: flex;
        width: 23rem;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;
        border-radius: 35px;
        color: #e7c621;
        font-style: italic;
        font-size: 18px;
        align-items: center;
        height: 14rem;
    }
    .Cit-Container {
       gap: 2rem;
    }
    .Cities-button{
        margin-right: 91px;
    }
}
@media (max-width: 425px) {
    h1{
        font-size: 45px;
    }
    .Cities-container{
        height: 683vh;
        width: 100%;
    }
    .Cities-input {
        width: 14.3rem;
        height: 2rem;
        border-radius: 10px;
        padding: 10px;
        margin-left: 3px;
    }
    .Cities-form{
        width: 16rem;
        height: 8rem;
    }
}

@media (max-width: 375px) {
    .card-container{
        width: 100%;
        display: flex;
    }
    .card{
        height: 420px;
        width: 320px;
    }
    .card-img {
        object-fit: cover;
        height: 295px;
        width: 94%;
        border-radius: 12px;
    }
    .Cities-container{
        height: 683vh;
        width: 100%;
    }
    .Cities-input {
        width: 16.4rem;
        border-radius: 10px;
        padding: 10px;
    }
    .Cit-Container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .check-container {
        margin-left: 45px;
        margin:0;
        padding: 0;
        gap: 0;
        display: flex;
    }
    .Cities-input {
        width: 14.3rem;
        height: 2rem;
        border-radius: 10px;
        padding: 10px;
        margin-left: 3px;
        }
    .Cities-form{
        width: 16rem;
        height: 8rem;
    }
}

@media (max-width: 320px) {
    body{
        width: 100%;
    }
    .Cities-container{
        width: 100vw;
        height: 1767vw;
    }
    .Cit-Container{
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    .Cities-input {
    width: 14.3rem;
    height: 2rem;
    border-radius: 10px;
    padding: 10px;
    margin-left: 3px;
    }
    .Cities-form{
        width: 16rem;
        height: 8rem;
    }
    .card{
        height: 399px;
        width: 340px;
    }
    .card-img {
        object-fit: cover;
        height: 295px;
        width: 94%;
        border-radius: 12px;
    }
    .card-container{
        width: 100%;
        display: flex;
    } 
    .check-container {
        margin:0;
        padding: 0;
        gap: 0;
        display: flex;
}
}
