*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.Cities-container{
    width: 100%;
    height: 100vh;
    background-image: url("/public/img/flat.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;  
    height: 210vh; 




}
.Cities-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
    font-family:monospace;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 5rem;
    
}
.Cities-button:hover{
    background-color: orangered;
    color: white;
    transition: 0.5;
    /* text-transform: uppercase; */
    font-size: 15px;
   border: 3px solid black;
    font-weight: bold;
    font-family:monospace;


}


.Cities-input{
    width: 15rem;
    border-radius: 10px;
    padding: 10px;
}

.Cities-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 35px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.Cit-Container{
    display: flex;
    flex-wrap: wrap;
}
.check-container{
  display: flex;
  gap: 25px;

}
@media (max-width: 1876px) {

    .Cities-container{
        height: 252vh!important;
        width: 100%;
    
    
    }



}
@media (max-width: 1495px) {

    .Cities-container{
        height: 302vh!important;
        width: 100%;
    
    
    }



}



@media (max-width: 1121px) {

    .Cities-container{
        height: 430vh!important;
        width: 100%;
    
    
    }



}



@media (max-width: 768px) {
    .Cities-container{
        height: 702vh!important;
        width: 100%;
    
    
    }
    .Cities-form{
        background-color: rgba(0, 0, 0, 0.644);
        display: flex;
        width: 23rem;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;
        border-radius: 35px;
        color: #e7c621;
        font-style: italic;
        /* font-size: 18px; */
        align-items: center;
        height: 14rem;
    }
    .Cities-button{
        margin-right: 91px;
    }




}


@media (max-width: 600px) {
    .Cities-container{  width: 100%;


    }
    .check-container{
        display: flex;
        flex-direction: column;
            }

}


/* 
@media (max-width: 700px) {
    .Cities-container {
        display: flex;
        flex-direction: column;
        width: 400px;
  
   
    }
    .check-container{
        display: flex;
        flex-direction: column ;
        /* width: 350px; */


    /* }

}  */
@media (max-width: 500px) {
    .Cities-container{
        height: 683vh;
        width: 80%;
    }
    .check-container{
display: flex;
flex-direction: column;
    }
}


@media (max-width: 425px) {
    .Cities-container{
        height: 683vh;
        width: 100%;
    }









}
@media (max-width: 375px) {
    .Cities-container{
        height: 683vh;
        width: 100%;


    }
    .Cities-input {
        width: 16.4rem;
        border-radius: 10px;
        padding: 10px;
    }



}

@media (max-width: 320px) {

    .Cities-container{
        width: 100vw;
        height: 1767vw;

    }
    .Cities-input {
        width: 14.3rem;
        border-radius: 10px;
        padding: 10px;
    }


    .Cities-form{
        width: 18rem;
    }

    .Cit-Container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}



