*{
    box-sizing: border-box;
    margin: 0PX;
    padding: 0PX;
   
}
.cdetail-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("/public/img/flat.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
   
    
}

