*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;

}
.tin-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 0.5rem;
    min-height: 100vh;
}
.tin-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    gap: 0.5rem;
    min-height: 100vh;
    padding: 2rem;
}
.tin-input{ 
    width: 25rem;
    border-radius: 8px;
}
.tin-h2{
    display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
    width: 100%;
}
.tin-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.tin-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
}
.tin-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media (max-width: 550px){
    .tin-form{
        width: 80%;
        gap: 0.5rem;
        padding: 1rem;
    }
    .tin-input{
        width: 22rem;
    }
    .tin-box{
        padding: 0;
    }
}
@media (max-width: 425px){
    .tin-form{
        width: 90%;
        gap: 0.3rem;
        padding: 1rem;
    }
    .tin-input{
        width: 20rem;
    }
}
@media (max-width: 375px){
    .tin-form{
        width: 95%;
        padding: 1rem;
    }
    .tin-input{
        width: 18rem;
    }
    .tin-btn2{
        font-size: 12px;
        padding: 6px 20px;
        margin: 5px;
    }
}
@media (max-width: 320px){
    .tin-input{
        width: 16rem;
    }
    .tin-form{
        width: 95%;
        padding: 1rem;
    }
}