*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.EditShowFrom-box{
    min-height: 100vh ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 1rem;
}
.EditShowFrom-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.EditShowFrom-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.EditShowFrom-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    
}
.EditShowFrom-h2{
    display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
    width: 100%;
}
.EditShowFrom-input{
    width: 25rem;
    border-radius: 8px;
}
@media (max-width: 768px){
    .EditShowFrom-form{
        margin-bottom: 1rem;
    }
}
@media (max-width: 550px){
    .EditShowFrom-form{
        width: 60%;
    }
    .EditShowFrom-input{
        width: 14rem;
    }
}
@media (max-width: 425px){
    .EditShowFrom-form{
        width: 90%;
        gap: 0.3rem;
        padding: 1rem;
    }
    .EditShowFrom-input{
        width: 20rem;
    }
}
@media (max-width: 375px){
    .EditShowFrom-form{
        width: 95%;
        padding: 1rem;
    }
    .EditShowFrom-input{
        width: 18rem;
    }
}
@media (max-width: 320px){
    .MyShows-img {
        object-fit: cover;
        height: 250px;
        width: 96%;
    }
    .EditShowFrom-input{
        width: 16rem;
    }
    .MyShows-title3{
        font-size: 20px;
    }
}