*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;

}
.tin-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 0.5rem;
    min-height: 100vh;
}


.tin-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 0.5rem;
    min-height: 100vh;
  
}
.tin-input{ 
        display: flex;
        flex-direction: column;
        width: 15rem;
        border-radius: 6px;
    
}
.tin-h2{
    display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
    width: 100%;
}

.tin-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 35px;
    color: #e7c621;

    font-size: 18px;
    margin-bottom: 14rem;

}

.tin-btn2{
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(242, 250, 96);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

