*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.imagebckcities{
    background-image: url("/public/img/flat.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.mc-oneContainer{
    display: flex;
    opacity: 0.9;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;  
    background-repeat: no-repeat;
    /* height: 100%;  */
   
}
.mc-container{ 
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    margin: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 31px -1px rgb(0 0 0 / 63%);
    border-radius: 25px;
    /* margin-left: 50px; */
    width: 346px;
    align-items: center;
}
.containerbuttonscities{
    display: flex;
    gap: 20px;
}


.mc-title{
    font-size: 30px;
    font-weight: 500;
    font-family: adobe-handwriting-ernie;
}

.mc-img{
    object-fit: cover;
    height: 377px;
    width: 300px;
    border-radius: 20px;
}
.mc-continent{
    font-size: 30px;
    font-weight: 500;
    font-family: adobe-handwriting-ernie;
}

.mc-btn1{
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(242, 250, 96);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin-bottom: 10px;

}
.mc-btn2{

    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(242, 250, 96);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin-bottom: 10px;
}














