*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.newShowFrom-box{
    min-height: 100vh ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 1rem;
}
.MyShows-input{
    width: 10rem;
    border-radius: 8px;
}
.MyShows-card {
    color: #e7c621;
    display: flex;
    flex-direction: row-reverse;
    min-height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63);
    border-radius: 25px;
}
.MyShows-img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}
.MyShows-title {
    font-size: 30px;
    font-weight: 500;
}
.MyShows-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    font-weight: bold;
    text-decoration: none;    
    font-style: italic;
}
.MyShows-title2{
    text-align:start;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.NewShow-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.NewShow-input{
    width: 25rem;
    border-radius: 8px;
}
.NewShow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.NewShow-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
}

@media (max-width: 550px){
    .MyShows-card {
        padding: 0.5rem;
        min-height: 600px;
        width: 80%; 
    }
    .NewShow-form{
        width: 80%;
        gap: 0.5rem;
        padding: 1rem;
    }
    .NewShow-input{
        width: 22rem;
    }
}
@media (max-width: 425px){
    .MyShows-card {
        padding: 0.5rem;
        min-height: 600px;
        width: 90%; 
    } 
    .NewShow-form{
        width: 90%;
        gap: 0.3rem;
        padding: 1rem;
    }
    .NewShow-input{
        width: 20rem;
    }
}
@media (max-width: 375px){
    .MyShows-card {
        width: 90%; 
    }  
    .NewShow-form{
        width: 90%;
        padding: 1rem;
    }
    .NewShow-input{
        width: 18rem;
    }
}
@media (max-width: 320px){
    .NewShow-input{
        width: 16rem;
    }
}

