*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.newShowFrom-box{
    min-height: 100vh ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.MyShows-card {
    color: #e7c621;
    display: flex;
    flex-direction: row-reverse;
    min-height: 600px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: 0px 6px 31px -1px rgba(0, 0, 0, 0.63);
    border-radius: 25px;
}
.MyShows-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.MyShows-title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 4px;
}
.MyShows-btn{
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color:  rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 35px;
    margin-bottom: 10px;
    cursor: pointer;
}
.MyShows-title2{
    text-align:start;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.MyShows-title3{
    display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 30px;
    padding: 0.5rem;
    width: 100%;
}
.myshows-link{
    text-decoration: none;
}
.NewShow-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.NewShow-input{
    width: 25rem;
    border-radius: 8px;
}
.NewShow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.NewShow-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
}
.MyShows-containerbuttons{
    display: flex;
    gap: 20px;
    padding-bottom: 0.5rem;
}
.NewShow-select{
    width: 25rem;
    border-radius: 8px;
}
@media (max-width: 768px){
    .MyShows-card {
        min-height: 600px;
        width: 80%;
        padding: 8px;
        margin: 2rem;
    }
}
@media (max-width: 550px){
    .MyShows-card {
        padding: 0.5rem;
        min-height: 600px;
        width: 80%; 
    }
    .NewShow-form{
        width: 80%;
        gap: 0.5rem;
        padding: 1rem;
        font-size: 16px;
    }
    .NewShow-input{
        width: 22rem;
    }
}
@media (max-width: 425px){
    .NewShow-form{
        width: 90%;
        gap: 0.3rem;
        padding: 1rem;
    }
    .NewShow-input{
        width: 20rem;
    }
    .MyShows-card {
        min-height:450px;
        width: 95%;
        padding: 5px;
        margin: 1rem;
    }
    .MyShows-title3{
        font-size: 25px;
    }
    .NewShow-select{
        width: 20rem;
    }
}
@media (max-width: 375px){
    .NewShow-form{
        width: 95%;
        padding: 1rem;
    }
    .NewShow-input{
        width: 18rem;
    }
    .MyShows-card {
        min-height:430px;
        width: 95%;
        padding: 5px;
        margin: 1rem;
    }
    .MyShows-btn{
        font-size: 12px;
        padding: 6px 20px;
        margin: 5px;
    }
    .MyShows-title {
        font-size: 22px;
    }
    .MyShows-title2 {
        font-size: 14px;
    }
    .MyShows-title3{
        font-size: 25px;
    }
    .NewShow-select{
        width: 18rem;
    }
}
@media (max-width: 320px){
    .MyShows-img {
        object-fit: cover;
        height: 250px;
        width: 96%;
    }
    .NewShow-input{
        width: 17rem;
    }
    .MyShows-title3{
        font-size: 20px;
    }
    .NewShow-select{
        width: 17rem;
    }
}

