*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;

}
.imagebckcities{
    background-image: url("/public/img/flat.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.my-container{
    opacity: 0.9;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;  
    

    /* height: 100%;  */


    
}


.my-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 0.5rem;
    min-height: 100vh;
  
}

.my-h2{
    display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
    width: 100%;

}


.my-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
    font-family:monospace;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 5rem;
}
.my-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
    font-family:monospace;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 5rem;
}
.my-img{
    width: 300px;
}
.my-price{
   display: flex;
    justify-content: center;
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
    width: 100%;

}
.my-img{

    object-fit: cover;
    height: 377px;
    width: 300px;
    border-radius: 20px;
}
.my-price{
    
}