*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;   
}
.nav-container{
    display: flex;
    align-items: center;
    font-family: 'Merienda', cursive;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.nav-container0{
    color: black;
    background-color: rgb(40,40,40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    font-family: 'Merienda', cursive;
    padding: 0.5rem;
}
.nav1{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem;
}
.nav-1{
    border: 2px solid black;
    padding: 0;
    border-radius: 15px;
    background-color: #E7C621;
    color:black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Merienda', cursive;
}
.nav-2{
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: #E7C621;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Merienda', cursive;
    font-size: 14px;
}
.logo1{
    height: 60px;
    display: flex;
}
.logo2{
    height: 6vh;
    border-radius: 20px;
    background-color: #E7C621;
    padding: 1px;
    width: 2.7vw;
    cursor: pointer;
}
.nameContainer{
    color: #E7C621;
    font-size: 12px;
    text-align: center;
}
.icon-login{
    color: #E7C621;         
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
}
.btn-1{
    background-color: #E7C621;
    text-transform: uppercase;
}
.btn{
    --bs-btn-color: #E7C621;
    --bs-btn-padding-x: 0;
}
.btn-Login{
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: #E7C621;
    color:black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Merienda', cursive;
}
.btn-Login:hover{
    background-color: orangered;
    transition: 0.5;
    color: white;
    text-transform: uppercase;
}
.dropdown-menu{
    --bs-dropdown-bg: rgba(40, 40, 40, 0.877);
    color:  #E7C621;
    --bs-dropdown-link-active-color:  black;
    --bs-dropdown-link-active-bg: #E7C621;
    --bs-dropdown-link-hover-color: black;
    --bs-dropdown-link-hover-bg: #E7C621;
}
.dropdown-item {
    color:  #E7C621;
}
.dropdown-item:hover{
    background-color:  #E7C621;
    color: rgb(40,40,40);
}
.nav-link{
    color:  #E7C621;
    padding: 0.7rem;
    font-weight: bold;
}
.dropdown-toggle{
    font-size: 20px;
}
.nav{
    --bs-nav-link-hover-color:  #E7C621;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .logo2{
        height: 6vh;
        width: 4vw;
    }
    .nav-2{
        border: 2px solid black;
        padding: 5px 8px;
    }
    .nav-link{
        padding: 0.2rem .7rem;
    }
}
@media (max-width: 425px) {
    .logo2{
        height: 6vh;
        width: 7.5vw;
    }
}
@media (max-width: 375px) {
    .logo2{
        height: 6vh;
        width: 8vw;
    }
}
@media (max-width: 320px) {
    .logo2{
        height: 6vh;
        width: 10vw;
    }
}

