*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.New-box{
    min-height: 85vh ;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.New-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.New-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.New-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
}
.New-h2{
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
}
.New-input{
    width: 25rem;
    border-radius: 8px;
}

@media (max-width: 550px){
    .New-form{
        width: 60%;
    }
    .New-input{
        width: 14rem;
    }
}
@media (max-width: 425px){
    .New-form{
        width: 80%;
        gap: 0.5rem;
    }
    .New-input{
        width: 17rem;
    }
}
@media (max-width: 375px){
    .New-form{
        width: 90%;
        padding: 1rem;
    }
    .New-input{
        width: 19rem;
    }
}
@media (max-width: 320px){
    .New-form{
        width: 90%;
        padding: 1rem;
    }
    .New-input{
        width: 16rem;
    }
}
