
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.NewReaction-box{
    min-height: 75vh ;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.NewReaction-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 35rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.NewReaction-input{
    width: 30rem;
    border-radius: 8px;
}
.NewReaction-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.NewReaction-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    cursor: pointer;
}
@media (max-width: 425px){
    .NewReaction-form{
        width: 90%;
    }
    .NewReaction-input{
        width: 19rem;
        font-size: 14px;
    }
    h1{
        font-size: 35px;
    }
    .NewReaction-button2{
        padding: 0.3rem;
        font-size: 14px;
    }
}
@media (max-width: 375px){
    .NewReaction-form{
        width: 90%;
        padding: 1rem;
    }
    .NewReaction-input{
        width: 19rem;
    }
}
@media (max-width: 320px){
    .NewReaction-form{
        width: 90%;
        padding: 1rem;
    }
    .NewReaction-input{
        width: 16rem;
    }
}