.card-form{
    width: 100%;

    background-image: url("/public/img/flat.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;   
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;

}
