*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
.Profile-container{
    min-height: 100vh ;
    width: 100%;
    background-image: url("/public/img/flat.jpg");
    background-position: center;
    background-size: cover;
  
}
.Profile-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}
.Profile-form{
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-style: italic;
    font-size: 18px;
}
.Profile-form2{
    background-color: rgba(0, 0, 0, 0.644);
    /* display: flex; */
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    color: #e7c621;
    font-size: 18px;
}
.Profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hola{
    text-align: justify;
    word-break: break-word;
}
.Profile-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: #e7c621;
    border:1px solid #1b2021;
    width: 5rem;
    cursor: pointer;
}
.Profile-h2{
    background-color: #1b2021;
    text-align: center;
    color: #e7c621;
    font-size: 35px;
    padding: 0.5rem;
}
.Profile-input{
    width: 25rem;
    border-radius: 8px;
}
.Profile-res{
    width: 25rem;
    border-radius: 8px;
    background-color: #1b20216b;
    padding: 0.3rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 16px;
    font-weight:lighter;
    text-align: justify;
    word-break: break-word;
}
.Profile-text{
    font-weight: bolder;
    font-style: italic;
    font-size: 18px;
}
@media (max-width: 768px){
    .Profile-box{
        flex-direction: column;
        }
}
@media (max-width: 425px){
    .Profile-form{
        width: 95%;
        gap: 0.3rem;
        padding: 1rem;
        font-size: 16px;
    }
    .Profile-form2{
        padding: 1rem;
    }
    .Profile-input{
        width: 20rem;
    }
    .Profile-res{
        width: 20rem;
    }
    .Profile-form2{
        width: 95%;
        font-size: 14px;
    }
    .Profile-box{
        flex-direction: column;
        }
}
@media (max-width: 375px){
    .Profile-form{
        width: 95%;
        padding: 1rem;
    }
    .Profile-input{
        width: 18rem;
    }
    .Profile-res{
        width: 18rem;
        font-size: 14px;
    }
    .Profile-button2{
       font-size: 14px;
    }
}
@media (max-width: 320px){
    
    .Profile-input{
        width: 17rem;
    }
    .Profile-box{
        padding: 0;
        padding-bottom: 1rem;
        }
    .Profile-res{
        width: 17rem;
    }
}